/*-----------------------------------------------------------------------------------

    Template Name: CleanHome - Cleaning Services Company
    Template URI: http://rockstheme.com
    Description: This is html5 template
    Author: Rocks_theme
    Author URI: http://rockstheme.com
    Version: 1.0

-----------------------------------------------------------------------------------*/

    /*-----------------------------------------------------------------------------------  
     CSS INDEX
    ===================

    1. Theme Default CSS (body, link color, section etc)
     2. Header top Area
       2.1 Header Middle  Area 
       2.2 Header bottom  Area
       2.3. Sticky Header Area
       2.4. Mobile Menu Area
    3. Slider Area
    4.Welcome Services Area
    5. About area
    6. banner Area
    7.Services Area
    8.Counter Area
    9.project Area
    10.Quote Area
    11. Blog Area
    12.Testimonial Area Css
    13. Brand Area
    14. Footer Area
    15. Home 2 Area
    16. Home 3 Area
    17. Home 4 Area
    18. Breadcumbs Area
    19. About pages Area
    19.1 About pages Team Area
    19.2 About pages Video Area
    20. Faq Area
    21.Services Page Pricing css
    22.Sub Services Pages
    23.Single Project Pages
    24. Blog Details page
    25.	Contact Us page

    
-----------------------------------------------------------------------------------*/
/*----------------------------------------*/
/*  Google Fonts
/*----------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,800,900|Open+Sans:400,400i,600,700,700i,800');


/*----------------------------------------*/
/*  1.  Theme default CSS
/*----------------------------------------*/
html, body {
	height: 100%;
}
.floatleft {
	float:left;
}
.floatright {
	float:right;
}
.alignleft {
	float:left;
	margin-right:15px;
	margin-bottom: 15px;
}
.alignright {
	float:right;
	margin-left:15px;
	margin-bottom: 15px;
}
.aligncenter {
	display:block;
	margin:0 auto 15px;
}
a:focus {
	outline:0px solid;
}
img {max-width:100%;
	height:auto;
}
.fix {
	overflow:hidden;
}
p {
	margin:0 0 15px;
    color: #444;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
	margin: 0 0 15px;
	color: #444;
    font-weight: 700;
}
h1{
	font-size: 48px;
	line-height: 50px;
		
}
h2{
	font-size: 38px;
	line-height: 40px;
		
}
h3{
	font-size: 30px;
	line-height: 32px;
		
}
h4{
	font-size: 24px;
	line-height: 26px;
		
}
h5{
	font-size: 20px;
	line-height: 22px;
		
}
h6{
	font-size: 16px;
	line-height: 20px;
		
}
a {
	transition: all 0.3s ease 0s;
	text-decoration:none;
}
a:hover {
  color: #63c672;
  text-decoration: none;
}
a:active, a:hover {
  outline: 0 none;
}
body {
	background: #fff none repeat scroll 0 0;
	color: #444;
    font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	text-align: left;
	overflow-x: hidden;
	line-height: 22px;
}
#scrollUp {
  background: #000 none repeat scroll 0 0;
  border-radius: 2px;
  bottom: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  color: #fff;
  font-size: 20px;
  height: 34px;
  line-height: 30px;
  opacity: 0.6;
  right: 15px;
  text-align: center;
  transition: all 0.3s ease 0s;
  width: 34px;
}
#scrollUp:hover {
    background: #63c672;
    opacity: 1;
}
.clear{
	clear:both;
}
ul{
	list-style: outside none none;
	margin: 0;
	padding: 0;
}
input, select, textarea, input[type="text"], input[type="date"], input[type="url"], input[type="email"], input[type="password"], input[type="tel"], button, button[type="submit"] {
	-moz-appearance: none;
	box-shadow: none !important;
}
input:focus, textarea:focus, select:focus {
    outline: none;
}
div#preloader { 
	position: fixed;
	left: 0; 
	top: 0; 
	z-index: 99999;
	width: 100%;
	height: 100%;
	overflow: visible;
	
}

::-moz-selection {
    background: #63c672;
    text-shadow: none;
}
::selection {
    background: #63c672;
    text-shadow: none;
}
.color{
    color:#63c672;
    font-weight: 900;
}
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
.area-padding{
	padding: 90px 0px;
}
.area-padding-2{
    padding: 70px 0px 50px;
}
.padding-2{
    padding-bottom: 90px;
}
.section-headline{
    margin-bottom: 60px;
    position: relative;
}
.section-headline h3 {
    display: inline-block;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}
.section-headline.white-headline h3 {
    color:#fff;
}
.section-headline.text-left {
    margin-bottom: 30px;
}
.section-headline::after {
    border: 1px solid #63c672;
    bottom: -20px;
    content: "";
    left: 0;
    margin: 0 auto;
    position: absolute;
    width: 60px;
    right: 0;
}
.section-headline.text-left h3::after {
    border: 2px solid #63c672;
    left: 0;
    right: auto;
}
.section-headline p {
    max-width: 650px;
    font-size: 16px;
    letter-spacing: 0.5px;
    margin: 0 auto;
    line-height: 26px;
}
.sub-head h4 {
    color: #fff;
    font-size: 30px;
    position: relative;
    padding-bottom: 30px;
}
.sub-head h4::after {
    border: 2px solid #63c672;
    bottom:0px;
    content: "";
    left: 0;
    margin: 0 auto;
    position: absolute;
    width: 20%;
}
.sub-head p {
    color: #fff;
    font-size: 17px;
    margin-top: 20px;
    line-height: 26px;
}
.mar-row{
    margin-top: 50px;
}
.parallax-bg{
    position:relative;
}
.parallax-bg:before{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:#000;
    opacity:.6;
    content:"";
}
.gray-bg{
    background: #f9f9f9;
}
/*--------------------------------*/
/*  2. Header top Area
/*--------------------------------*/
.topbar-area{
    background: #f9f9f9;
}
.topbar-left p {
    color: #444;
    padding: 10px 0px;
    margin-bottom: 0px;
}
.topbar-left li a i{
    padding-right: 3px;
}
.topbar-right {
    position: relative;
    display: block;
}
.topbar-right ul li {
    float: right;
}
.topbar-right ul li a:hover {
    color: #fff;
    border:1px solid #63c672;
    background: #63c672;
}
.topbar-right ul li a {
    color: #777;
    display: block;
    font-size: 15px;
    margin: 11px 3px;
    width: 28px;
    height: 28px;
    border: 1px solid #777;
    text-align: center;
    line-height: 25px;
}
.topbar-right ul li:first-child a {
    padding-right: 0;
}
/*----------------------------------------*/
/*  2.1 Header Middle  Area 
/*----------------------------------------*/
.logo {
    display: block;
}
.logo a {
    display: inline-block;
    height: auto;
    padding: 30px 0;
}
.header-area .quote-button {
    float: right;
    padding: 8px 0px;
}
.header-middle-area .header-info {
    width: 33.33%;
    float: left;
    padding: 36px 0px;
}
.header-middle-area .header-info-text span {
    display: block;
    font-size: 14px;
}
.header-middle-area .header-icon {
    float: left;
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 38px;
    margin-right: 15px;
}
.header-icon i {
    color: #63c672;
    font-size: 18px;
}
.header-middle-area .logo a {
    padding: 28px 0;
}
.info-first {
    font-weight: 700;
}
.quote-button {
    float: right;
}
.quote-btn {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
    color: #fff;
    background: #63c672;
    display: inline-block;
    border: 1px solid #63c672;
    padding: 10px 20px;
}
.quote-btn:hover{
    color: #63c672;
    background: #fff;
    border: 1px solid #63c672;
}
/*----------------------------------------*/
/*  2.2 Header bottom  Area 
/*----------------------------------------*/
.header-area{
    background: #63c672;
}
.header-area.stick{
    background: #252525;
    box-shadow: 0px 0px 5px #252525, -2px -2px 5px #252525;
}
.header-area .navbar.navbar-default {
    float: left;
}
.main-menu ul.navbar-nav li a{
    padding: 20px 25px;
    color: #fff;
}
.main-menu ul.navbar-nav li {
    float: left;
    position: relative;
}
.main-menu ul.navbar-nav li a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    padding: 22px 15px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}
.main-menu ul.navbar-nav li a:hover{
    color:#333;
}
.main-menu ul.navbar-nav li.active a:focus {
    color: #fff;
}
.main-menu ul.navbar-nav li.active a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #fff;
    position: relative;
    z-index: 9999999;
}
.header-area .main-menu ul.navbar-nav li:first-child a{
   padding-left: 0px; 
}
.navbar {
    border: medium none;
    margin-bottom: 0;
}
.navbar-default {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.main-menu ul.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background: none;
    color:#333;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: transparent;
    color: #333;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background: none;
}
.main-menu ul.nav li ul.sub-menu {
    background: #fff;
    border-top: 2px solid #333;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 115%;
    transition: all 0.3s ease 0s;
    visibility: hidden;
    width: 220px;
    z-index: -99;
}
.pagess {
    position: relative;
}
.navbar.navbar-default {
    float: right;
}
.main-menu ul.nav li ul.sub-menu li {
    border-bottom: 1px solid #ddd;
    padding: 0;
    position: relative;
    width: 100%;
}
.main-menu ul.nav li:hover ul.sub-menu{
    top:100%;
    opacity:1;
    z-index:999;
    visibility:visible;
}
.header-area .main-menu ul.nav li ul.sub-menu li a {
    color: #444;
    display: block;
    font-size: 13px;
    font-weight: 700;
    padding: 10px 15px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}
.main-menu ul.nav li:hover ul.sub-menu li a:hover{
    color:#fff;
    background: #63c672;
}
.search-option-5 button.button {
    display: inline-block;
    border: none;
    background: none;
    padding: 0;
}
.search-option {
    background: #fff none repeat scroll 0 0;
    bottom: -48px;
    color: #444;
    display: none;
    position: absolute;
    right: 20px;
    width: 260px;
    z-index: 99999;
}
.search-option input {
    background: #fff none repeat scroll 0 0;
    border: medium none;
    color: #444;
    display: block;
    float: left;
    font-size: 14px;
    font-style: italic;
    padding: 8px 10px;
    width: 210px;
    height: 44px;
}
.search-option button.button {
    background: #63c672;
    border: medium none;
    color: #fff;
    display: inline-block;
    float: right;
    font-size: 17px;
    line-height: 35px;
    padding: 5px 15px;
    text-align: center;
}
.header-right-link a.main-search {
    color: #444;
    display: inline-block;
    float: right;
    font-size: 16px;
    line-height: 32px;
    position: relative;
    text-align: center;
    padding: 34px 15px;
}
.header-right-link a.main-search {
    padding: 16px 15px;
    color:#fff;
}
/*--------------------------------*/
/* 2.3. Sticky Header Area
/*--------------------------------*/
.header-area.stick {
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999999;
    box-shadow: 0px 0px 5px #ccc, -2px -2px 5px #ccc;
    background: #63c672;
}
.header-area.stick .logo a {
    display: inline-block;
    height: auto;
    padding: 15px 0;
}
.header-area.stick .quote-button {
    float: right;
    padding: 13px 5px;
}
.header-area.stick .header-right-link a.main-search {
    padding: 16px 15px;
}
.header-area.stick .main-menu ul.nav li ul.sub-menu li a {
    color: #444;
    display: block;
    font-size: 13px;
    font-weight: 700;
    padding: 10px 15px;
}
.header-area.stick .main-menu ul.nav li ul.sub-menu li a:hover{
    color: #fff;
    background: #63c672;
}
.header-area.stick .main-menu ul.navbar-nav li:first-child a{
   padding-left: 0px; 
}
/*----------------------------------------*/
/*  2.4. Mobile Menu Area
/*----------------------------------------*/
.mobile-menu-area {
    background: #f9f9f9 none repeat scroll 0 0;
    padding: 10px 0px ;
}
.mean-container .mean-bar::after {
    content: "";
    font-size: 21px;
    left: 5%;
    position: absolute;
    top: 12px;
    text-transform: uppercase;
    font-weight: 500;
}
.mean-container a.meanmenu-reveal:hover {
    color:#252525
}
.mean-container .mean-nav ul {
    list-style-type: none;
    margin: 20px 0px;
    padding: 0;
    width: 100%;
}
.mean-container .mean-nav ul li a {
    background: #f8f8f8 none repeat scroll 0 0;
    color: #444;
    display: block;
    float: left;
    font-size: 12px;
    font-weight: 700;
    margin: 0;
    padding: 13px 10px;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    width: 90%;
}
.mean-nav ul li.mean-last {
    margin-bottom: 20px;
}
.mean-container .mean-nav ul li a.mean-expand {
    color: #444;
    line-height: 17px;
}
.mean-container .mean-nav ul li {
    width: 99.7%;
}
/*------------------------------
 3. Slider Area
--------------------------------*/
.intro-content {
    position: relative;
    z-index: 1;
}
.intro-content::after {
    background: rgba(10, 24, 40, 0.4) none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
.slider-content {
    position: absolute;
    right: 0;
    text-align: left;
    top: 50%;
    z-index: 3;
    left: 0;
    margin: 0 auto;
    margin-top: -160px;
}
.layer-1 {
    margin: 20px 0;
}
.layer-2 p {
    color: #fff;
    font-size: 19px;
    letter-spacing: 0.60px;
    line-height: 30px;
}
.layer-1 h1 {
    color: #fff;
    font-size: 46px;
    font-weight: 700;
    line-height: 60px;
    text-transform: uppercase;
}
.ready-btn {
    border: 1px solid #63c672;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    margin-top: 30px;
    padding: 10px 20px;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.4s ease 0s;
    z-index: 222;
    background: #63c672;
    width: 150px;
    border-radius: 3px;
}
.ready-btn:hover{
    color: #fff;
    background: #63c672;
    border: 1px solid #63c672;
    text-decoration: none;
}
.ready-btn.right-btn {
    margin-left: 15px;
    background: #252525;
    border: 1px solid #252525;
}
.ready-btn.right-btn:hover{
    background: #63c672;
    border: 1px solid #63c672;
}
.ready-btn.left-btn:hover{
    background: #252525;
    border: 1px solid #252525;
}
.intro-carousel.owl-carousel.owl-theme .owl-controls .owl-nav div.owl-prev, 
.intro-carousel.owl-carousel.owl-theme .owl-controls .owl-nav div.owl-next {
    color: #fff;
    font-size: 18px;
    margin-top: -20px;
    position: absolute;
    top: 50%;;
    text-align: center;
    line-height: 39px;
    opacity: 0;
    border:1px solid #fff;
    width: 40px;
    height: 40px;
}
.intro-carousel.owl-carousel.owl-theme .owl-controls .owl-nav div.owl-prev{
    left: 10%;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    -ms-transition: 0.4s;
}
.intro-carousel.owl-carousel.owl-theme .owl-controls .owl-nav div.owl-next {
    right: 10%;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    -ms-transition: 0.4s;
}
.intro-carousel.owl-carousel.owl-theme:hover .owl-controls .owl-nav div.owl-next{
    right: 2%;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    -ms-transition: 0.4s;
    opacity: 1;
}
.intro-carousel.owl-carousel.owl-theme:hover .owl-controls .owl-nav div.owl-prev{
    left: 2%;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    -ms-transition: 0.4s;
    opacity: 1;
}
.intro-carousel.owl-carousel.owl-theme:hover .owl-controls .owl-nav div.owl-next:hover,
.intro-carousel.owl-carousel.owl-theme:hover .owl-controls .owl-nav div.owl-prev:hover{
    color:#fff;
    background: #63c672;
    border: 1px solid #63c672;
}
.intro-carousel .owl-item .layer-1{
    transform: translateY(100%);
    opacity: 0;
    transition: all 1s ease-in-out 0.3s;
}
.intro-carousel .owl-item .layer-2{
    transform: translateY(100%);
    opacity: 0;
    transition: all 1s ease-in-out 1s;
}
.intro-carousel .owl-item .layer-3{
    transform: translateY(100%);
    opacity: 0;
    transition: all 1s ease-in-out 1.5s;
}
.intro-carousel .owl-item.active .layer-1,
.intro-carousel .owl-item.active .layer-2,
.intro-carousel .owl-item.active .layer-3{
    transform: translateY(0);
    opacity: 1;
}
/*----------------------------------------*/
/*  4. Welcome service
/*----------------------------------------*/
.well-services{
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
    display: block;
    padding: 30px 15px;
}
.services-img {
    display: inline-block;
    margin-bottom: 30px;
}
.service-content h4 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
}
.services-img a {
    border-radius: 50%;
    display: block;
    width: 100px;
    height: 100px;
    font-size: 60px;
    line-height: 99px;
    border: 1px solid #63c672;
    color: #63c672;
    transition: 0.4s;
}
.well-services:hover .service-content h4{
   color: #63c672; 
}
.well-services:hover .services-img a{
   color: #fff; 
    background:#63c672;
    border: 1px solid #63c672;
    transition: 0.4s;
}
/*----------------------------------------*/
/*  5. About area
/*----------------------------------------*/
.about-area{
    background: #f6f6f6;
}
.about-image{
    position: relative;
    display: block;
}
.about-image span.frame-img{
    position: absolute;
    left: 0;
    top:0;
}
.frame-img span.frame-text {
    position: absolute;
    top: 20px;
    left: 2px;
    color: #fff;
    text-transform: uppercase;
    font-size: 10px;
    text-align: center;
    line-height: 18px;
    font-weight: 700;
}
.about-content h4{
    font-weight: 500;
}
.about-details {
    overflow: hidden;
    display: block;
    padding: 20px 0px;
}
.single-about {
    width: 30%;
    float: left;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
    background: #fff;
    padding: 20px 10px;
    margin-right: 3.33%;
}
.single-about a{
    font-size: 40px;
    color:#63c672;
    margin-bottom: 15px;
    display: block;
}
.single-about h5 {
    font-size: 15px;
    color: #333;
    text-transform: uppercase;
}
/*----------------------------------------*/
/*  6. banner Area
/*----------------------------------------*/
.banner-area {
    background: #63c672;
    display: block;
    overflow: hidden;
    padding: 40px 0px;
}
.banner-contact {
    float: right;
    padding: 10px 0px;
}
.banner-contact span i {
    display: inline-block;
    width: 40px;
    height: 40px;
    color: #fff;
    border: 1px solid #fff;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    margin-right: 20px;
}
.banner-contact span {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    margin-right: 20px;
}
.banner-btn {
    float: right;
    border: 1px solid #fff;
    display: inline-block;
    padding: 10px 20px;
    color: #63c672;
    font-weight: 700;
    font-size: 20px;
    background: #fff;
    border-radius: 5px;
}
.banner-btn:hover{
    background: transparent;
    border: 1px solid #fff;
    color:#fff;
}
.banner-content h4 {
    float: left;
    margin-bottom: 0;
    color: #fff;
    font-size: 26px;
    max-width: 600px;
    line-height: 32px;
}
/*----------------------------------------*/
/*  7. service area
/*----------------------------------------*/
.single-service {
    padding: 30px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    overflow: hidden;
}
.all-services{
    margin-top: -30px;
}
.service-image {
    display: block;
    margin-bottom: 20px;
    overflow: hidden;
}
.service-image img {
    transform: scale(1.1);
    transition: 1s;
}
.service-btn {
    font-weight: 700;
    text-transform: uppercase;
    color: #444;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    z-index: 2;
}
.service-btn::after {
    position: absolute;
    content: "\f105";
    font-family: fontAwesome;
    right: -12px;
    top: -2px;
}
.single-service:hover .service-image img {
    transform: scale(1);
    transition: 1s;
}
/*----------------------------------------*/
/* 8.Counter Area
/*----------------------------------------*/
.counter-area{
    background:url(img/background/bg1.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
.counter-area{
    position: relative;
    width: 100%;
    height: auto;
}
.fun-content {
    overflow: hidden;
    margin-top: 15px;
    display: block;
}
.fun_text > a {
    color: #63c672;
    display: inline-block;
    font-size: 50px;
    margin-bottom: 20px;
    text-align: center;
    line-height: 50px;
}
.fun_text {
    float: left;
    width: 25%;
    text-align: center;
}
.fun_text span {
    color: #fff;
    display: block;
    font-size: 40px;
    padding: 15px 0px 20px;
}
.fun_text > h5 {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}
/*--------------------------------*/
/*  9.Project Area
/*--------------------------------*/
.project-menu li a {
    color: #777;
    display: inline-block;
    font-size: 14px;
    margin: 0 12px;
    padding: 0px 1px 8px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    font-weight: 600;
    letter-spacing: 0.5px;
}
.project-menu li a.active {
    color: #63c672;
    text-decoration: none;
}
.project-menu {
    margin-bottom: 10px;
}
.project-menu li a:first-child{
   padding-left:0px; 
   margin-left:0px; 
}
.project-menu li {
    display: inline-block;
}
.project-menu li a:hover {
    color: #63c672;
    text-decoration: none;
}
.project-single{
    width: 33.34%;
    float: left;
}
.all-padding{
    padding: 15px;
}
.single-awesome-project {
  overflow: hidden;
}
.awesome-img{
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
.awesome-img::after{
  position: absolute;
  left:0;
  top:0;
  background: rgba(99,198,114,0.50) none repeat scroll 0 0;
  content: "";
  width: 100%;
  height: 100%;
  opacity: 0;
}
.awesome-img img {
    transform: scale(1.1);
    transition: 1s;
}
.single-awesome-project:hover .awesome-img img {
    transform: scale(1);
    transition: 1s;
}
.awesome-img > a {
  display: block;
  position: relative;
}
.single-awesome-project:hover .awesome-img > a::after,
.single-awesome-project:hover .awesome-img::after{
	opacity: 1;
}
.single-awesome-project:hover .add-actions{
	opacity: 1;
    top: 50%;
    margin-top: -30px;
}
.single-awesome-project:hover{
    background: rgba(99,198,114,0.90) none repeat scroll 0 0;
}
.awesome-img > a::after {
  background: rgba(99,198,114,0.90) none repeat scroll 0 0;
  content: "";
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  left: 0;
  position: absolute;
  top: 15px;
  right: 0;
  margin: 0 auto;
  opacity: 0;
  transition: 0.4s;
}
.add-actions {
  display: block;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  text-align: center;
  top: 50%;
  transition: all 0.4s ease 0s;
  width: 100%;
    z-index: 9999;
}
.project-dec {
  display: inline-block;
}
.project-dec h4 {
  margin-bottom: 5px;
}
.project-dec h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
}
.project-dec a {
    color: #fff;
}
.project-dec a:hover {
    color: #fff;
}
.project-dec span {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    transition: 0.4s;
}
.project-dec span:hover{
    color:#333;
    transition: 0.4s;
}
.project-heading {
    font-size: 32px;
    margin: 40px 0 20px;
    text-transform: capitalize;
}
/*----------------------------------------
 10.Quote Area
----------------------------------------*/
.quote-area{
    background:url(img/background/bg1.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
.quote-icon {
    display: block;
    margin-bottom: 40px;
}
.quote-icon i {
    color: #fff;
    float: left;
    font-size: 30px;
    border: 1px solid #63c672;
    background: #63c672;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}
.quote-icon span {
    color: #fff;
    display: block;
    padding-left: 70px;
    line-height: 24px;
    font-size: 17px;
}
.single-contact span {
    color: #fff;
}
.form-row{
  margin-top: 60px;
}
.quote-area #contactForm input,
.quote-area #contactForm select{
    border: none;
    border-radius: 0;
    height: 46px;
    margin-bottom: 20px;
    width: 100%;
    padding: 6px 12px;
    color: #555;
}
.quote-area .contact-form textarea#message{
    height: 180px;
    border-radius: 0;
    border: none;
    margin-bottom: 20px;
}
.quote-area .quote-btn {
    background: #63c672;
    border: 1px solid #63c672;
    color: #fff;
    padding: 10px 20px;
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
    width: 100%;
    transition: 0.4s;
}
.quote-area .quote-btn:hover{
    background: #fff;
    border: 1px solid #63c672;
    color: #63c672;
     transition: 0.4s;
}
/*----------------------------------------*/
/*  11. Blog Area
/*----------------------------------------*/
.blog-area{
  background: #fff;
}
.blog-grid {
    margin-top: -30px;
}
.blog-image{
  overflow: hidden;
    display: block;
}
.image-scale {
    position: relative;
    transform: scale(1.1);
    display: block;
    transition: 0.5s;
}
.image-scale::after{
    position: absolute;
    content: "";
    background: rgba(0,46,91,0.30);
    width: 100%;
    height: 100%;
    left:0;
    top:0;
}
.blog-content a h4 {
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 600;
    color: #444;
    line-height: 24px;
}
.blog-meta {
    position: relative;
    top: -40px;
    background: #63c672;
    width: 168px;
    padding: 5px 10px;
    left: 10px;
}
.blog-meta span {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    padding-right: 10px;
}
.blog-title {
    margin-top: -10px;
}
.single-blog:hover .image-scale {
  transform: scale(1);
  transition: 0.5s;
}
.single-blog:hover .image-scale::after{
    background: rgba(0,46,91,0);
}
.single-blog {
    margin-top: 30px;
    position: relative;
    overflow: hidden;
}
.blog-grid-fast {
    margin-top: -30px;
}
.single-blog.b-mar{
    margin-top: 20px;
}
.blog-content a h4:hover{
    color:#63c672;
}
.blog-btn {
    display: inline-block;
    font-weight: 700;
    color: #444;
    position: relative;
    text-transform: uppercase;
    font-size: 12px;
}
.blog-btn::after {
    position: absolute;
    content: "\e87a";
    right: 10px;
    top: 0px;
    font-family: cleaning;
    font-size: 13px;
    opacity: 0;
    transition: 0.5s;
}
.blog-btn:hover {
    color: #63c672;
}
.blog-btn:hover.blog-btn::after {
    right: -20px;
    opacity: 1;
    transition: 0.5s;
}
/*----------------------------------------
   12.Testimonial Area Css
----------------------------------------*/
.testimonial-area{
    background:#f6f6f6;
}
.single-testi {
    padding: 30px 20px;
    position: relative;
    background-color: #fff;
}
.testi-img {
    margin-bottom: 30px;
}
.testi-img img {
    width: 100%;
    display: inline-block !important;
    max-width: 100px;
    height: auto;
    border-radius: 50%;
}
.client-rating {
    padding-bottom: 10px;
}
.client-rating a {
    display: inline-block;
    color: #fec731;
    font-size: 18px;
}
.testi-text h4 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 0px;
}
.testi-text p {
    color: #444;
}
.testi-text h5 {
    color: #444;
    font-size: 20px;
}
.testi-text a{
  color: #63c672;  
}
.Reviews-content {
    margin-top: -30px;
}
.testimonial-carousel.item-indicator{
    padding: 30px 0px 50px;
}
.testimonial-carousel.owl-carousel.owl-theme .owl-controls .owl-dots div.owl-dot > span {
    background: #444 none repeat scroll 0 0;
    display: inline-block;
    height: 8px;
    width: 8px;
    -moz-transition:0.4s;
    -webkit-transition:0.4s;
    -o-transition:0.4s;
    -ms-transition:0.4s;
    transition:0.4s;
    border-radius: 50%;
}
.testimonial-carousel.owl-carousel.owl-theme .owl-controls .owl-dots {
    bottom: 0px;
    display: block;
    left: 50%;
    margin-left: -20px;
    position: absolute;
}
.testimonial-content {
    margin-bottom: 15px;
}
.testimonial-carousel.owl-carousel.owl-theme .owl-controls .owl-dots div.owl-dot {
    display: inline-block;
    margin: 0 3px;
}
.testimonial-carousel.owl-carousel.owl-theme .owl-controls .owl-dots div.owl-dot.active span{
    background: #63c672;
}
.reviews-page .single-testi{
    margin-bottom: 30px;
}
/*----------------------------------------
   13.Brand Area Css
----------------------------------------*/
.brand-area {
    background: #fff;
}
.single-brand-item a img{
    border: 1px solid #63c672;
    transition: o.4s;
}
.single-brand-item a img:hover{
    border: 1px solid #63c672;
    background: #63c672;
    transition: o.4s;
}
/*----------------------------------------*/
/*  14. Footer Area
/*----------------------------------------*/
.footer-area {
    padding: 70px 0;
    background: #252525;
}
.footer-head p {
    color: #777;
}
.footer-head h4 {
    color: #fff;
    font-size: 18px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 700;
    opacity: 0.7;
}
.footer-head .single-blog {
    margin-top: 20px;
    position: relative;
    overflow: visible;
}
.footer-head .blog-content a h4 {
    color: #777;
    margin-bottom: 5px;
    line-height: 22px;
    font-size: 17px;
}
.footer-head .blog-content a h4:hover{
    color: #63c672;
}
.footer-head .blog-btn {
    color: #63c672;
}
.footer-head .blog-text p {
    margin-bottom: 10px;
}
.footer-icons ul li {
    display: inline-block;
}
.footer-icons ul li a {
    color: #777;
    display: block;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    margin-right: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #777;
}
.footer-icons ul li a:hover{
    color: #fff;
    border:1px solid #63c672;
    background:#63c672;
}
.footer-icons {
    margin-top: 30px;
}
.footer-contacts p span {
    color: #63c672;
    font-weight: 700;
}
.footer-contacts > p:last-child {
    margin-bottom: 0;
}
.footer-area hr {
    border-top: 1px solid #666;
}
.footer-content {
    display: block;
    overflow: hidden;
}
.suscribe-input input {
    background:transparent;
    border: medium none;
    color: #777;
    font-size: 15px;
    line-height: 24px;
    padding: 11px 15px;
    height: 42px;
    border-radius: 0;
    width: 100%;
    border: 1px solid #777;
}
.suscribe-input button {
    background: transparent;
    border: 1px solid #777;
    color: #777;
    font-size: 16px;
    padding: 8px 20px;
    transition: 0.4s;
    margin-top: 15px;
    text-transform: uppercase;
}
.suscribe-input button:hover{
    background:#63c672;
    border: 1px solid #63c672;
    color: #fff;
    transition: 0.4s;
}
.footer-head hr {
    margin-bottom: 10px;
}
.widget_nav_menu .menu li a {
    color: #777;
    padding: 5px 0px;
    display: block;
    position: relative;
    font-weight: 500;
}
.widget_nav_menu .menu li a::after {
    position: absolute;
    content: "\e876";
    right: 0;
    top: 5px;
    font-family: cleaning;
    font-size: 12px;
}
.widget_nav_menu .menu li a:hover {
    color: #63c672;
}
.footer-list li a {
    color: #777;
    padding: 5px 0px;
    display: block;
    position: relative;
    font-weight: 500;
}
.footer-list li a::after {
    position: absolute;
    content: "\e876";
    right: 0;
    top: 5px;
    font-family: cleaning;
    font-size: 12px;
}
.footer-list li a:hover {
    color: #63c672;
}
.footer-area-bottom {
    background: #1d1d1f none repeat scroll 0 0;
    padding: 25px 0;
}
.copyright-text a:hover{text-decoration: underline;color:#63c672;}
.copyright-text a {
    color: #777;
}
.copyright > p {
    margin-bottom: 0;
    color: #777;
}
.copyright a {
    color: #63c672;
}
.copyright ul{
    text-align: right;
}
.copyright ul li {
    display: inline-block;
    margin-left: 20px;
}
.copyright ul li a {
    color: #777;
    text-align: right;
}
.copyright ul li a:hover{
    color: #63c672;
}
/*----------------------------------------*/
/*  15. Home 2 Area
/*----------------------------------------*/
.header-style-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 999;
}
.topbar-area.topbar-2 {
    background: transparent;
    border-bottom: 1px solid #898898;
}
.header-area.header-area-2{
    background: transparent;
}
.topbar-area.topbar-2 .topbar-left ul li a {
    color: #fff;
    display: block;
    font-weight: 400;
    margin-right: 20px;
    padding: 10px 0;
    text-decoration: none;
}
.topbar-area.topbar-2 .topbar-left ul li {
    display: inline-block;
}
.topbar-area.topbar-2 .topbar-right ul li a {
    color: #fff;
    border: 1px solid #fff;
    margin: 8px 3px;
}
.topbar-area.topbar-2 .quote-button {
    float: right;
    margin-left: 20px;
}
.header-area-2 .main-menu ul.navbar-nav li a,
.header-area-2 .header-right-link a.main-search{
    color:#fff;
}
.header-area-2 .navbar.navbar-default {
    float: right;
}
.header-area-2.stick{
    background: #1d1d1f;
    box-shadow: 0px 0px 5px #333, -2px -2px 5px #333;
}
.header-area-2 .logo a {
    padding: 2px 0;
}
.header-area.header-area-2.stick .logo a {
    padding: 2px 0;
}
.intro-area-2 .slider-content {
    margin-top: -110px;
}
.footer-area-2{
    background: #f5f5f5;
}
.footer-area-bottom-2{
    background: #ddd;
}
.footer-area-2 .footer-head h4 {
    color: #333;
    opacity: 0.7;
}
.footer-area-2 hr {
    border-top: 1px solid #ddd;
}
/*----------------------------------------*/
/*  16. Home 3 Area
/*----------------------------------------*/
.topbar-area.topbar-3 .topbar-left ul li a {
    color: #444;
    display: block;
    font-weight: 400;
    margin-right: 20px;
    padding: 10px 0;
    text-decoration: none;
}
.topbar-area.topbar-3 .quote-button {
    margin-left: 15px;
}
.topbar-area.topbar-3 .topbar-left ul li {
    display: inline-block;
}
.topbar-area.topbar-3 .topbar-right ul li a {
    color: #444;
    border: 1px solid #444;
    margin: 8px 3px;
}
.header-area-3 .navbar.navbar-default {
    float: right;
}
.header-area.header-area-3 {
    background: #fff;
}
.header-area-3 .logo a {
    display: inline-block;
    height: auto;
    padding: 20px 0;
}
.header-area-3 .main-menu ul.navbar-nav li a {
    color: #444;
    padding: 40px 15px;
}
.header-area-3 .header-right-link a.main-search {
    padding: 34px 15px;
    color: #444;
}
.header-area.header-area-3.stick .main-menu ul.navbar-nav li:first-child a {
    padding-left: 15px;
}
.header-area-3.stick .main-menu ul.navbar-nav li a {
    padding: 35px 15px;
}
.header-area-3.stick .header-right-link a.main-search {
    padding: 29px 15px;
}
/*----------------------------------------*/
/*  17. Home 4 Area
/*----------------------------------------*/
.header-area-4{
    background: #fff;
    border-top: 1px solid #f5f5f5;
}
.header-area-4 .main-menu ul.navbar-nav li a,
.header-area-4 .header-right-link a.main-search {
    color: #444;
}
.header-area.header-area-4.stick {
    background: #fff;
}
/*----------------------------------------*/
/*  18. Breadcumbs Area
/*----------------------------------------*/
.page-area{
    position: relative;
}
.page-area {
    background: url(img/background/b.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}
.breadcumb-overlay {
  position: absolute;
  background: rgba(10, 27, 40, 0.8) none repeat scroll 0 0;
  top: 0;
  width: 100%;
  left: 0;
  height: 100%;
}
.breadcrumb{
    padding: 100px 0px;
    background-color: transparent;
    margin-bottom: 0;
}
.breadcrumb .section-headline{
    margin-bottom: 0px;
}
.breadcrumb .section-headline::after {
    display: none;
}
.breadcrumb ul {
    padding: 10px 0px;
    text-align: center;
}
.breadcrumb ul li {
    display: inline-block;
    color: #fff;
    padding: 0px 10px 0px 20px;
    position: relative;
    font-size: 16px;
}
.breadcrumb ul li.home-bread{
    padding-left: 0px;
}
.breadcrumb ul li.home-bread::after {
    position: absolute;
    content: "\f105";
    font-family: fontAwesome;
    right: -10px;
    top: 0;
}
.breadcrumb .section-headline h3 {
    font-size: 26px;
    line-height: 28px;
}
/*----------------------------------------*/
/*  19. About pages Area
/*----------------------------------------*/
.about-feature{
    background: #f5f5f5;
}
.feature-icon {
    float: left;
    margin-right: 10px;
}
.feature-icon i {
    font-size: 50px;
    display: block;
    position: relative;
    color: #63c672;
    transition: 0.4s;
    margin-bottom: 30px;
}
.feature-text{
    padding-left: 65px;
}
.feature-text h4 {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 22px;
}
.feature-text p {
    font-size: 16px;
}
/*----------------------------------------*/
/*  19.1 About pages Team Area
/*----------------------------------------*/
.team-area {
    background: #fff;
}
.single-member{
    border: 1px solid #f3f3f3
}
.single-member .team-img {
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 200px;
    height: 200px;
    border-radius: 10px;
}
.team-hover li {
    display: inline-block;
    margin-right: 5px;
}
.team-hover li a {
    color: #777;
    border: 1px solid #777;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 32px;
    border-radius:50%;
}
.team-hover li a:hover {
    color: #fff;
    border: 1px solid #63c672;
    background: #63c672;
}
.team-hover {
    padding: 15px 0;
    text-align: center;
    transition: all 0.4s ease 0s;
}
.single-member .team-img a {
    display: block;
}
.single-member {
    border: 1px solid #f3f3f3;
    background: #f5f5f5;
    padding: 30px;
}
.team-content {
    padding: 10px;
}
.team-content h4 a {
    color: #444;
}
.team-content p {
    margin-bottom: 0;
}
.team-content h4 {
    font-size: 17px;
    margin: 10px 0px;
    text-transform: uppercase;
    font-weight: 700;
}
.team-page-area .team-member{
    margin-top: -30px;
}
.team-page-area .single-member{
    margin-top: 30px;
}
/*----------------------------------------*/
/*  19.2 About pages Video Area
/*----------------------------------------*/
.video-area{
   background: #fff; 
}
.video-text h4 {
    color: #444;
    line-height: 30px;
    font-size: 24px;
    font-weight: 500;
}
.video-text p {
    color: #444;
}
.video-inner{
    background: url(img/about/ab.jpg);
    background-repeat: no-repeat;
    position: relative;
}
.video-inner::after{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    content:"";
    background: rgba(10, 27, 40, 0.5) none repeat scroll 0 0;
}
.video-content {
    width: 100%;
    height: 100%;
    min-height: 330px;
}
.video-played p {
    color: #444;
    padding: 0px 200px;
    margin-top: 20px;
}
.video-play.vid-zone {
    background: #fff;
    border-radius: 100%;
    display: inline-block;
    font-size: 28px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    width: 60px;
    overflow: hidden;
    position: absolute;
    top: 40%;
    z-index: 999;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.video-play.vid-zone i {
    color: #63c672;
    margin-left: 5px;
}
.marker-list li {
    color: #444;
    padding-left: 30px;
    margin: 10px 0px;
    position: relative;
    font-size: 16px;
}
.marker-list li::after {
    position: absolute;
    content: "\e87f";
    left: 0;
    top: 3px;
    font-family: cleaning;
    color: #63c672;
    font-weight: 700;
}
/*--------------------------------*/ 
/* 20. Faq Area
/*--------------------------------*/
.testimonial-review .single-testi{
    margin-top: 30px;
}
.faq-details .panel-heading {
    padding: 0;
}
.panel-default {
    border-color: #ddd;
    border-radius: 0 !important;
}
.panel-default > .panel-heading {
    color: #444;
}
.panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #ddd;
    background: #fff;
}
.faq-details h4.check-title a {
    color: #444;
    display: block;
    font-weight: 500;
    padding: 10px 10px 10px 40px;
    text-decoration: none;
    background: #fff;
}
.panel-body {
    padding: 15px 15px 0px 45px;
}
.faq-details h4.check-title {
    color: #444;
    font-size: 16px;
    margin-bottom: 0;
    text-transform: capitalize;
}
.faq-details a span.acc-icons {
    position: relative;
}
.faq-details a span.acc-icons::before {
    color: #444;
    content:"\e874 ";
    font-family: cleaning;
    font-size: 16px;
    left: -26px;
    line-height: 39px;
    position: absolute;
    text-align: center;
    top: -10px;
}
.faq-details a.active span.acc-icons::before {
    color: #63c672;
    content: "\e873";
    font-family: cleaning;
    font-size: 16px;
    left: -26px;
    line-height: 39px;
    position: absolute;
    text-align: center;
    top: -10px;
}
.faq-details .panel-heading h4 a.active {
    color: #63c672;
    background: #fff;
}
.video-area-faq{
    background: #f5f5f5;
}
.error-easy-text {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 30px;
}
.high-text{
    font-size: 200px;
    line-height: 200px;
}
.error-bot{
    font-size: 24px;
}
.error-btn {
    background: #63c672;
    border: 1px solid #63c672;
    color: #fff;
    font-size: 16px;
    padding: 12px 20px;
    transition: 0.4s;
    margin-top: 15px;
    text-transform: capitalize;
    margin-top: 30px;
    display: inline-block;
}
.error-btn:hover{
    background: #fff;
    border: 1px solid #63c672;
    color: #63c672;
}
/*----------------------------------------*/
/* 21.Services Page Pricing css
/*----------------------------------------*/
.welcome-page-area{
    background: #f9f9f9;
}
.pricing-area {
    background: #f9f9f9;
}
.top-price-inner {
    border-bottom: 1px solid #ccc;
    padding: 20px 20px;
    margin-bottom: 20px;
}
.top-price-inner h4 {
    color: #444;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 20px;
}
.daily-per{
    margin-bottom: 10px;
}
.daily{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
}
.top-price-inner .hours {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    margin-left: 10px;
    color: #63c672;
}
span.users {
    color: #63c672;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
}
.prices {
    font-size: 26px;
    font-weight: 600;
    color: #444;
    padding-right: 10px;
}
.table-list {
    border: 1px solid #ccc;
    text-align: center;
    transition: all 0.4s ease 0s;
    background: #fff;
}
.table-list ol li {
    color: #666;
    padding: 12px 0px;
    position: relative;
    text-align: center;
}
.price-btn {
    border-top: 1px solid #ccc;
    padding: 30px 20px;
    margin-top: 20px;
}
.price-btn a {
    color: #fff;
    text-transform: uppercase;
    transition: all 0.4s ease 0s;
    font-weight: 700;
    font-size: 14px;
    padding: 10px 30px;
    background: #63c672;
    border: 1px solid #63c672;
    letter-spacing: 1px;
}
.table-list > h3 {
    color: #455454;
    font-size: 24px;
    font-weight: 400;
    line-height: 25px;
    text-transform: capitalize;
    transition: all 0.4s ease 0s;
}
.table-list ol {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.price-btn a:hover {
    background: #fff;
    color: #63c672;
    border: 1px solid #63c672;
}
/*----------------------------------------*/
/* 22.Sub Services Pages
/*----------------------------------------*/
.single-page-head {
    margin-bottom: 30px;
}
.single-services-page p{
    color: #666;
}
.left-menu li:first-child {
    margin: 0px 0px 2px
}
.left-contact h4 {
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.left-menu li {
    display: block;
    margin: 5px 0;
}
.build-img .page-img {
    padding-bottom: 0;
}
.left-menu ul li.active a {
    background: #63c672 none repeat scroll 0 0;
    color: #fff;
    position: relative;
}
.left-menu ul li a:hover {
    color: #fff;
    background: #63c672; 
}
.left-menu ul li a {
    background: #f9f9f9;
    color: #444;
    display: block;
    font-size: 15px;
    font-weight: 700;
    padding: 14px 20px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}
.left-menu ul li.active a::after,
.left-menu ul li a:hover::after {
    content: "\e876";
    font-family: cleaning;
    font-size: 15px;
    position: absolute;
    right: 18px;
    top: 15px;
}
.down-btn {
    border: 1px solid #63c672;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 15px;
    padding: 15px;
    text-align: left;
    text-transform: uppercase;
    transition: all 0.4s ease 0s;
    z-index: 222;
    background: #63c672;
    width: 100%;
    position: relative;
    border-radius: 3px;
}
.down-btn:hover{
    color:#63c672;
    background: #fff;
    border: 1px solid #63c672;
}
.down-btn::after {
    position: absolute;
    content: "\e80b";
    font-family: cleaning;
    right: 15px;
    top: 14px;
    font-size: 28px;
}
.single-page-head .clients-testi {
    padding: 20px 15px;
    border: 1px solid #63c672;
}
.single-page-head .review-text {
    margin-top: 20px;
}
.clients-testi .review-text a,
.clients-testi .guest-rev {
    color: #444;
}
.clients-testi .single-review {
    border: none;
}
.single-page-head .review-text p {
    color: #666;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.5px;
    font-style: italic;
}
.single-well h3 {
    margin-bottom: 20px;
    font-size: 28px;
}
.clients-support {
    position: relative;
    width: 100%;
    height: auto;
}
.support-text {
    position: relative;
    z-index: 1;
}
.support-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    background: rgba(99,198,114,0.70) none repeat scroll 0 0;
    transition: 0.4s;
}
.support-text h4{
    color:#fff;
    font-weight: 700;
    margin-bottom: 30px;
}
.support-text a {
    margin-bottom: 15px;
    display: block;
    font-size: 22px;
    color:#fff;
    font-weight: 700;
}
.support-text p {
    font-size: 18px;
    line-height: 26px;
    color:#fff;
    font-weight: 700;
}
.support-text a i {
    display: inline-block;
    font-size: 30px;
    line-height: 23px;
    padding-right: 15px;
}
.support-img {
    overflow: hidden;
}
.support-img img {
   transform: scale(1.1);
    transition: 0.4s;
}
.clients-support:hover .support-img img {
   transform: scale(1);
    transition: 0.4s;
}
.clients-support:hover .support-text {
    background: rgba(99,198,114,1) none repeat scroll 0 0;
}
.page-content h3 {
    font-weight: 600;
    padding: 15px 0 0;
}
.single-well {
    margin-top: 20px;
}
.single-page {
    overflow: hidden;
}
.service-list li {
    display: block;
    position: relative;
    padding-left: 30px;
    color: #444;
}
.service-list li::before{
    position: absolute;
    left: 0;
    content:"\f00c";
    font-family:fontawesome;
    top:0;
    color: #63c672;
}
.single-page-head .service-btn{
    width: 100%;
    margin: 20px 0px 0px 0px;
}
.single-services-page .marker-list li {
    color: #444;
}
.mar-row .single-well {
    margin-top: 0px;
}
/*----------------------------------------*/
/* 23.Single Project Pages
/*----------------------------------------*/
.project-column-2 .project-single{
    width: 50%;
}
.project-column-4 .project-single{
    width: 25%;
}
.project-history h3 {
    color: #444;
    margin-bottom: 30px;
    font-size: 24px;
}
.project-history {
    background: #f2f2f2;
    padding: 50px 30px;
}
.project-name ul li {
    color: #444;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    margin: 10px 0px;
}
.project-name span{
    padding-right: 15px;
}
.project-name span {
    padding-right: 15px;
    min-width: 127px;
    display: inline-block;
}
.project-image.project-image-2 {
    margin-top: 20px;
}
.project-details h4 {
    font-size: 26px;
    line-height: 32px;
}
.project-details p {
    font-size: 17px;
    color: #666;
    line-height: 26px;
}
.project-share h5 {
    display: inline-block;
}
.project-social {
    display: inline-block;
}
.project-social li {
    display: inline-block;
    margin: 10px;
}
.project-social li a {
    color: #444;
    font-size: 20px;
}
.project-social li a:hover{
    color: #63c672;
}
.project-details .marker-list li{
    color:#444;
}
.project-related .project-single{
    width: 100%;
    float: none;
}
.project-details h3{
    font-size: 24px;
}
/*----------------------------------------
 24. Blog Details page
----------------------------------------*/
.blog-search-option input {
    padding: 5px 15px;
    width: 70%;
    border: 1px solid #ccc;
    height: 42px;
}
.blog-search-option {
    margin-bottom: 30px;
    display: block;
}
.blog-search-option button {
    background: #63c672;
    border: 1px solid #63c672;
    font-size: 17px;
    padding: 9px 10px;
    width: 28%;
    color: #fff;
    height: 44px;
}
.blog-search-option button i {
    line-height: 16px;
    font-size: 20px;
    padding: 0px 10px;
}
.blog-search-option button:hover {
    color: #fff;
    background: #252525;
    border: 1px solid #252525;
}
.left-blog h4 {
    border-bottom: 1px solid #ddd;
    color: #444;
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 0;
    padding: 15px 10px;
    text-transform: uppercase;
}
.left-blog {
    background: #f9f9f9 none repeat scroll 0 0;
    overflow: hidden;
    padding-bottom: 20px;
}
.left-blog li {
    border-bottom: 1px solid #ddd;
    display: block;
}
.left-blog ul li a {
    color: #444;
    display: block;
    font-size: 14px;
    padding: 10px;
    text-transform: capitalize;
    position: relative;
}
.left-blog ul li a:after {
    position: absolute;
    content: "\e876";
    font-family: cleaning;
    right: 12px;
    top: 10px;
    font-size: 14px;
}
.popular-tag.left-blog ul li a:after {
    display: none;
}
.recent-single-post {
    border-bottom: 1px solid #ddd;
    display: block;
    overflow: hidden;
    padding: 15px 0px;
}
.recent-single-post:last-child {
    border-bottom: none;
}
.post-img {
    display: inline-block;
    float: left;
    padding: 0 5px;
    width: 35%;
}
.pst-content {
    display: inline-block;
    float: left;
    width: 65%;
    padding-left: 10px;
}
.pst-content p a:hover,.left-blog ul li a:hover {
    color: #63c672;
}
.left-blog-page {
    margin-top: 30px;
}
.pst-content p a {
    color: #444;
    font-size: 15px;
}
.blog-tags {
    padding: 1px 0;
}
.left-blog li:last-child {
    border-bottom: 0 ;
}
.popular-tag.left-blog ul li a:hover{
    color: #fff;
}
.popular-tag.left-side-tags.left-blog ul {
    padding: 0 10px;
}
.left-tags .left-side-tags ul li {
    border-bottom: 0;
    display: inline-block;
    margin: 5px 0px;
}
.left-tags .left-side-tags ul li a {
    padding: 3px 10px;
    width: auto;
    border: 1px solid #63c672;
    background: #63c672;
    color: #fff;
    border-radius: 5px;
    font-weight: 700;
    font-size: 14px;
}
.left-tags .left-side-tags ul li a:hover {
    border: 1px solid #252525;
    background: #252525;
}
.left-side-tags h4 {
    margin-bottom: 15px;
}
.comments-heading h3, h3.comment-reply-title {
    border-bottom: 1px solid #e8e8e9;
    color: #444;
    font-size: 18px;
    margin: 0 0 20px;
    padding: 0 0 5px;
    text-transform: capitalize;
}
.comments-list ul li{
    margin-bottom: 25px;
}
.comments-list-img{
    float: left;
    margin-right: 15px;
}
.comments-content-wrap {
    color: #444;
    font-size: 14px;
    margin: 0 0 15px 60px;
    padding: 10px;
    position: relative;
}
.blog-content p {
    font-size: 15px;
}
blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 15px;
    border-left: 5px solid #63c672;
    font-style: italic;
}
blockquote p {
    font-size: 18px !important;
    line-height: 28px;
}
.author-avatar {
    display: inline-block;
    float: left;
    width: 10%;
}
.author-description h2 {
    color: #777;
    font-size: 20px;
    text-transform: uppercase;
}
.author-description h2 a {
    color: #333;
}
.comments-content-wrap span b{margin-right:5px}
.comments-content-wrap span a:hover{}
span.post-time{margin-right:5px}
.comments-content-wrap p {
    color: #444;
    margin-top: 10px;
}
li.threaded-comments{margin-left:50px}
.comment-respond {
    margin-top: 20px;
}
span.email-notes{color: #42414f;
    display: block;
    font-size: 12px;
    margin-bottom: 10px;}
.comment-respond p {
    color: #444;
    margin-bottom: 5px;
}
.comment-respond input[type=text],.comment-respond input[type=email]{
    border: 1px solid #e5e5e5;
    border-radius: 0;
    height: 32px;
    margin-bottom: 15px;
    padding: 0 0 0 10px;
    width: 100%;}
.comment-respond textarea#message-box{
    border: 1px solid #e5e5e5;
    border-radius: 0;
    max-width: 100%;
    padding: 10px;height: 130px;
    width: 100%;
}
.comments-content-wrap span a {
    color: #333;
}
.comments-content-wrap span a:hover {
    color: #63c672;
}
.comment-respond .add-btn.contact-btn {
    background: #63c672;
    color: #fff;
    display: block;
    font-size: 16px;
    margin-top: 5px;
    padding: 12px 20px;
    transition: 0.4s;
    width: auto !important;
    margin-top: 20px;
    border: 1px solid #63c672;
    text-transform: uppercase;
    font-weight: 700;
}
.comment-respond .add-btn.contact-btn:hover{
    background: #252525;
    border:1px solid #252525;
}
.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 40px 0 0px;
    border-radius: 4px;
}
.pagination>li>a, 
.pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #fff;
    background-color: #63c672;
    border: none;
    margin-left: -1px;
    border-radius: 5px;
}
.pagination>li {
    display: inline-block;
    margin: 0px 3px;
}
.pagination>.active>a, 
.pagination>.active>span, 
.pagination>.active>a:hover, 
.pagination>.active>span:hover, 
.pagination>.active>a:focus, 
.pagination>.active>span:focus{
    z-index: 3;
    color: #fff;
    background-color: #252525;
    border-color: #252525;
    cursor: default;
    border-radius: 5px;
}
.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus {
    z-index: 2;
    color: #fff;
    background-color: #252525;
    border-color: #252525;
    border-radius: 5px;
}
.blog-page-details .left-blog-page {
    margin-top:0px;
    margin-bottom:30px;
}
.single-post-comments {
    margin-top: 30px;
}
/*----------------------------------------*/
/*  25.	Contact Us page
/*----------------------------------------*/
.contact-details {
    display: block;
    overflow: hidden;
}
.contact-icon {
    padding: 30px;
    background: #f6f6f6;
}
.contact-page .single-contact span {
    color: #444;
}
.contact-page .single-contact a i{
   width: 40px;
    height: 40px;
    border: 1px solid #444;
    text-align: center;
    line-height: 36px;
    color:#444;
    border-radius: 50%;
    margin-right: 15px;
    font-size: 16px;
}
.contact-head {
    background: #f6f6f6;
    padding: 50px 30px;
}
.contact-head h3{
    font-size: 30px;
}
.contact-head p {
    font-size: 17px;
}
.contact-form input[type="text"], .contact-form input[type="email"] {
    border: 1px solid #ccc;
    border-radius: 0;
    height: 44px;
    margin-bottom: 15px;
    padding-left: 20px;
    width: 100%;
}
.contact-form textarea#message {
    border: 1px solid #ccc;
    border-radius: 0px;
    height: 180px;
    padding: 20px;
    width: 100%;
}
.contact-page .contact-btn {
    background: #63c672;
    border: 1px solid #63c672;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    margin-top: 5px;
    padding: 10px 40px;
    transition: 0.4s;
    width: auto;
    float: left;
    text-transform: uppercase;
}
.contact-page .contact-btn:hover {
    background: #252525  none repeat scroll 0 0;
    border: 1px solid #252525 ;
    color: #fff;
    transition: 0.4s;
}
/*----------------------------------------
 .End CSS
----------------------------------------*/


.home-slider .vc_column-inner {
    padding-left: 0 !important;
    padding-right: 0 !important;
	z-index:0 !important;
}
.layer-1,.layer-2,.layer-3{
	opacity:0;
}









